*{
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #000f18;
    color: white;
}

header{
    min-height: 10vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo_bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-text {

    font-size: 1.5rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 75px;
}
.nav-links{
    flex: 1;
    text-align: right;
    margin-right: 5%;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ee1c25;
    display: block;
    margin: auto;
    transition: 0.25s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.landing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 5vh;
}