*{
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #000f18;
    color: white;
}

header{
    min-height: 10vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
section{
    padding: 5vh 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo_bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-text {
    font-size: 1.5rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 75px;
}
.nav-links{
    flex: 1;
    text-align: right;
    margin-right: 5%;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ee1c25;
    display: block;
    margin: auto;
    transition: 0.25s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.landing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.landing div{
    width: 50%;
}
.call_to_action{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0vh 5vh;
}
.call_to_action h1{
    font-size: clamp(1.5rem, 6vw, 4rem);
    margin-top: 0%;
    margin-bottom: 0%;
}
.call_to_action p{
    font-size: clamp(0.5rem, 2vw, 1.3rem);
    margin-top: 8%;
    margin-bottom: 0%;
}
.call_to_action button{
    font-size: clamp(0.5rem, 3vw, 1.3rem);
    margin-top: 8%;
    margin-bottom: 0%;
    background-color:#ee1c25;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #000f18;
}
.call_to_action button:hover{
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
}
div.video_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vh 0vw;
    width: calc();
    height: auto;
}
.word_character{
    color: #ee1c25;
}
.underline {
  text-decoration: underline;
  text-decoration-color: #ee1c25;
  text-decoration-thickness: 2px;
}
.pricing_boxes{
    display: flex;
    flex-direction: row;
}
.pricing_boxes div{
    width: 15vw;
    height: 60vh;
    text-align: center;

}
