<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome_page.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700;900&display=swap" rel="stylesheet">
    <title>HSK Hero</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo_bar">
                <img src="C:\Users\Dries Van Ranst\OneDrive\Bureaublad\LogoHSKHero2.png" alt="HSK Hero Logo" class="logo">
                <span class="logo-text">HSK Hero</span>
            </div>
            
            <div class="nav-links">
                <ul>
                    <li><a href="">About HSK</a></li>
                    <li><a href="">Demo</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Pricing</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="landing">
            <div class="call_to_action">
                <h1>Master the stroke, <br> own the <span class="word_character"><span class="unrotate">character.</span></span></h1>
                <p>Writing characters engages your motor system and memory together, strengthening <span class="underline">recall</span> and <span class="underline">long-term retention</span>.</p>
                <a href="#pricing">
                    <button>Become a Hero</button>
                </a>
            </div>
            <div class="video_container">
                <video autoplay muted loop>
                    <source src="C:\Users\Dries Van Ranst\OneDrive\Bureaublad\shui.mp4" type="video/mp4">
                    Your browser does not support this demo.
                </video>
            </div>

        </section>
        <section class="about_hsk">
            <h2>About HSK</h2>
            <p>The HSK Exam (Hànyǔ Shuǐpíng Kǎoshì, 汉语水平考试) is the official Chinese language proficiency test used globally to assess non-native speakers' proficiency in Chinese. Originally comprising six different levels, the new HSK version 3.0 now consists of nine levels.</p>
        </section>
        <section class="extended_demo">
            <h2>Demo</h2>
            <video autoplay muted >
                <source src="C:\Users\Dries Van Ranst\OneDrive\Bureaublad\shui.mp4" type="video/mp4">
                Your browser does not support this demo.
            </video>
        </section>
        <section class="pricing" id="pricing">
            <h2>Pricing</h2>
            <div class="pricing_boxes">
                <div>
                    <h1>Free</h1>
                    <p>€0</p>
                </div>
                <div>
                    <h1>Monthly</h1>
                    <p>€6.66 / Month</p>
                </div>
                 <div>
                    <h1>Yearly</h1>
                    <p>€5.20 / Month</p>
                </div>               
                <div>
                    <h1>Lifetime</h1>
                    <p>€131.40</p>
                </div> 
            </div>
            <a href="{{ url_for('show_registration_page') }}">
                <button>Become a Hero</button>
            </a>

        </section>
        <section class="faq">
             
        </section>

    </main>

    <script>
    const boxes = document.querySelectorAll('.pricing_boxes div');

    boxes.forEach(box => {
        box.addEventListener('click', () => {
        boxes.forEach(b => b.classList.remove('selected')); // Remove from all
        box.classList.add('selected'); // Add to clicked one
        });
    });
    </script>

</body>
</html>