<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome_page.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700;900&display=swap" rel="stylesheet">
    
    <title>HSK Hero</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo_bar">
                <img src="{{ url_for('static', filename='images/LogoHSKHero2.png') }}" alt="HSK Hero Logo" class="logo">
                <span class="logo-text">HSK Hero</span>
            </div>
            
            <div class="nav-links">
                <ul>
                    <li><a href="">About HSK</a></li>
                    <li><a href="">Demo</a></li>
                    <li><a href="">About the Creator</a></li>
                    <li><a href="{{ url_for('show_signin_page') }}">Login</a></li>
                    <!-- <li><a href="">FAQ</a></li> -->
                    <!-- <li><a href="">Pricing</a></li> -->
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="landing">
            <div class="call_to_action">
                <h1>Master the stroke, <br> own the <span class="word_character"><span class="unrotate">character.</span></span></h1>
                <p>Writing engages your motor system and memory together, strengthening <span class="underline">recall</span> and <span class="underline">long-term retention</span>.</p>
                <a href="{{ url_for('show_registration_page') }}">
                    <button>Become a Hero</button>
                </a>
            </div>
            <div class="video_container">
                <video autoplay muted loop>
                    <source src="{{ url_for('static', filename='images/shui.mp4') }}" type="video/mp4">
                    Your browser does not support this demo.
                </video>
            </div>

        </section>
        <section class="about_hsk">
            <h2><span class="underline">About HSK</span></h2>
            <p>The HSK Exam (Hànyǔ Shuǐpíng Kǎoshì, 汉语水平考试) is the official Chinese language proficiency test used globally to assess non-native speakers' proficiency in Chinese. Originally comprising six different levels and 5,000 words, the new HSK version 3.0 now consists of nine levels and 11,000 words.</p>
        </section>
        <section class="extended_demo">
            <h2><span class="underline">Demo</span></h2>
            <p>Try it out!</p>

            <div class="practice-area">

                <div class="left-panel">
                    <div id="character-target-div"></div>
                    <div class="targetCharBox">loading…</div>
                </div>

                <div class="right-panel">
                    <!-- dynamic boards go here -->
                    <div class="colLeft" id="drawingBoardsContainer"></div>
                </div>

            </div>

            <a href="{{ url_for('show_registration_page') }}">
                <button>Become a Hero</button>
            </a>
        </section>
        <section class="about_creator">
            <h2>
                <span class="underline">About the Creator</span>
            </h2>

            <div class="creator-content">

                <div class="creator-image">
                    <img
                        src="{{ url_for('static', filename='images/creator_picture.jpeg') }}"

                        alt="Creator of HSKing"
                    >
                </div>

                <div class="creator-text">
                    <p>Hi, I'm Dries aka 云飞，</p>

                    <p>
                        In 2012, I made one of the best decisions of my life and started learning Chinese. After four years of studying, I was super proud to pass the HSK Level 6 exam, which eventually helped me land a job in Beijing.
                    </p>
                    <p>
                        In 2026, a new version of HSK was announced—with three additional levels and around 6,000 more words to learn. By now, life has gotten a lot busier than when I was studying, so I needed a more efficient way to master all those new words.
                    </p>
                    <p>
                        That’s when I got the itch to build my own HSK writing practice tool. And that’s exactly how HSK Hero came to life.
                    </p>
                </div>

            </div>

            <a href="{{ url_for('show_registration_page') }}">
                <button>Become a Hero</button>
            </a>
        </section>
        <section class="pricing" id="pricing">
            <!--
            <h2>Pricing</h2>
            <div class="pricing_boxes">
                <div>
                    <h1>Free</h1>
                    <p>€0</p>
                </div>
                <div>
                    <h1>Monthly</h1>
                    <p>€6.66 / Month</p>
                </div>
                 <div>
                    <h1>Yearly</h1>
                    <p>€5.20 / Month</p>
                </div>               
                <div>
                    <h1>Lifetime</h1>
                    <p>€131.40</p>
                </div> 
            </div>
            -->
        </section>
    </main>

    <script src="{{ url_for('static', filename='lib/jquery-3.1.1.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/hanzi-writer@3.5/dist/hanzi-writer.min.js"></script>
    <script src="{{ url_for('static', filename='dist/hanzilookup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/welcome_page.js') }}"></script>

</body>
</html>